.container {
  display: grid;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  background: white;
}

.logo img {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}

img {
  display: flex;
  justify-content: center;
  max-width: 90%;
  margin: auto;
}

.text {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  font-family: Kanit;
  font-weight: bold;
}
.text a:hover {
  background-color: rgb(195, 0, 47);
  color: rgb(255, 255, 255);
}
.text a {
  margin: 0 5px;
  color: black;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

a {
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: none;
  margin: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: black;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  font-family: Kanit;
}

.dropdown-content a:hover {
  background-color: #c00832;
  color: white;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content img {
  width: 100%;
  max-width: 150px; /* adjust as needed */
  margin-bottom: 10px; /* adjust as needed */
}
.dropdown .navbar-toggle{
  color:white;
  background-color: #c00832;
  border-radius: 5px;
  padding: 8px 15px;
}

/* Responsive Navigation Bar */


@media screen and (max-width: 1200px) {
  .text {
    display:none;
  }
  .dropdown {
      display: inline;
  }
  .dropdown-content img{
    display: inline;
}
  .dropdown-content {
      display: none;
      position: absolute;
      right: 0;
      background-color: #f9f9f9;
      font-size: 1.2rem;
      min-width: 200px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      margin-top: 19%;
      border-radius: 5px;
  }

  
}