.navbar {
  margin: 0;
  justify-content: space-between;
  background: white;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}
.nav_main{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background: white;
  align-items: center;
  flex-wrap: wrap;
}

.logo img {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}

img {
  justify-content: center;
  max-width: 90%;
  margin: auto;
}

.text {
  align-items: center;
  font-size: 0.9em;
  font-family: Kanit;
  font-weight: bold;
}
.text a:hover {
  background-color: rgb(195, 0, 47);
  color: rgb(255, 255, 255);
}
.text a {
  color: black;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

a {
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: none;
  margin: 20px;
}

.dropdown-content {
  display: none;
  transition: all 0.3s ease;
}
.dropdown-content a{
  display: none;
  transition: all 0.3s ease;
}
.dropdown .navbar-toggle{
  color:white;
  background-color: #c00832;
  border-radius: 5px;
  padding: 8px 15px;
  transition: all 0.3s ease;
}

/* Responsive Navigation Bar */
@media screen and (max-width: 1200px) {
  .text {
    display:none;
  }
  .dropdown {
      display: inline;
  }
  .dropdown-content img{
    display: inline;
}
.dropdown-content {
  display: none;
  background-color: #c00832;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  color: white;
  position: relative;
  width:inherit;
  border-radius: 5px;
}
.dropdown-content a{
  color: white;
  float: none;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 25px 16px;
  font-family: Kanit;
}

.dropdown-content a:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.dropdown-content.responsive {
  margin-top: 5px;
  display: block;
  background-color: #c00832;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  color: white;
  position: relative;
  width:inherit;
  border-radius: 5px;
}
  
}

@media screen and (max-width: 400px) {
  .logo img {
    height: auto;
    width: auto;
    max-height: 62px;
    max-width: 150px;
  }
}

@media screen and (max-width: 300px) {
  .logo img {
    height: auto;
    width: auto;
    max-height: 62px;
    max-width: 120px;
  }
}